.App {
  text-align: center;
  margin-top: 100px;
  
}


.Grids{
  width: 212px;
  margin: auto;
}
/* here is the css for Grid system */
.Grid{
  width: 100px;
  height: 100px;
  margin-left: 2px;
  border: 2px solid gray;
  display: inline-table;
  background-color: rebeccapurple;
}

.Grid:nth-child(3){

  margin-top: -2px;
}